{% extends 'base.html' %}


{% block nav %}
<!-- nav -->
  <ul class="nav">
    <li><a href="/viewer" class="link">360 Viewer</a></li>
    <li><a href="/viewer/demo" class="link">Demo Viewer</a></li>
  </ul>
<!-- End nav -->
{% endblock %}

{% block main %}
    <h1 class="title">Add Photos</h1>
    <p class="faq-p">
      Welcome! This app allows you to upload, view, and delete 360 photos.
      After uploading your photos, simply click "view photos in 360" to view them.
      You can upload any jpg, jpeg, png, photos, but for a full 360 experience you must upload
      360-degree (VR) photographs.
      See admin for upload passkey.
      You must have the passkey in order to use the upload function. 
    </p>
    <p>Dont have any 360 photos to upload? Check out the <a href="/viewer/demo" class="link">demo version</a></p>
    <form action="" method="POST" class="add-photo-form" enctype="multipart/form-data">
      <input type="password" name="password" class="password-input" id="password" placeholder="password" required>
      <input type="file" id="image-upload-input" name="image" required>
      <button type="submit" class="add-photo-button">UPLOAD</button>
    </form>

    <a href="/viewer" class="viewer-link">View photos in 360</a>
    

    <p class="add-photo-loading"></p>

    {% if message %}
      <p>{{message}}</p>
    {% endif %}

    <ol class="photo-list">
    <!-- list for holding uploaded photos -->
    </ol>

<!-- Scripts -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/photo.js"></script>

{% endblock %}